body {
    margin-top: 5%;
  
    color: #aaa;
    background: #f0ebeb;
    font: 600 16px/18px 'Open Sans', sans-serif;
  }
  
  *,
  :after,
  :before {
    box-sizing: border-box
  }
  
  .clearfix:after,
  .clearfix:before {
    content: '';
    display: table
  }
  
  .clearfix:after {
    clear: both;
    display: block
  }
  
  a {
    color: inherit;
    text-decoration: none
  }
  
  header {
  
    background-color: rgb(126, 92, 118);
    padding: 10px;
    text-align: center;
  }
  
  footer {
    background-color: rgb(126, 92, 118);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  form {
  
    position: absolute;
    top: 50%;
    left: 50%;
  
    margin-left: -150px;
  
    margin-top: -100px;
    display: block;
    width: 150px;
    float: left;
  }
  
  .input {
    font: 600 14px/18px 'Open Sans', sans-serif;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
    margin-bottom: 20px;
    margin-top: 10px;
    color: #f0ebeb;
  }
  
  
  
  .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.534);
  }
  
  .button:hover {
    background: rgb(255, 255, 255);
  }
  
  .button:active {
    background: rgb(85, 83, 83);
  }
  
  .login-wrap {
  
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(../images/newaccount.jpg) no-repeat center;
    background-size: 600px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  }
  
  .login-html {
  
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(8, 0, 10, 0.8);
  }
  
  .valid {
    font: 600 14px/18px 'Open Sans', sans-serif;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgba(12, 83, 12, 0.726);
    color: #f0ebeb;
  }
  
  .invalid {
    font: 600 14px/18px 'Open Sans', sans-serif;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgba(255, 3, 3, 0.726);
  
    color: #f0ebeb;
  }
  
  .empty {
    font: 600 14px/18px 'Open Sans', sans-serif;
    border: none;
    padding: 15px 20px;
  
    border: 2px solid rgba(250, 234, 17, 0.959);
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    background: rgba(255, 255, 255, .1);
    color: #f0ebeb;
  }
  
  
h1 {
    position: relative;
    margin-left: 10%;
    margin-top: 15%;


}
  